body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.3s;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.button-group {
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    color: white;
}

.btn-simpan {
    background-color: green;
}

.btn-tema {
    background-color: orange;
}

.dark {
    background-color: #222;
    color: white;
}

.dark .card {
    background-color: #333;
}